[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  publish = "."

[dev]
  command = "python app.py"
  port = 8888

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
